body {
  background-color: #ccc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
}

/******** POKEMON LIST ********/

.pokemon-list {
  list-style-type: none;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}

.btn-primary {
  margin: 5px 0px;
  padding: 10px;
  display: inline-block;
  min-width: 30%;
  min-height: 50px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.6px;
  border: 3px solid gray;
  border-radius: 3px;
  box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition-duration: 0.3s;
  /* -webkit-transition-duration: 0.3s; */
  border: none;
  background-color: #4A97F3;
  color: white;
}

.btn-primary:hover {
  box-shadow: inset 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #77AFF2;
  color: white;
}

.btn-primary::first-letter {
  text-transform: uppercase;
}

/******** NAVBAR ********/

.nav-item {
  text-align: right;
}

.navbar {
  background-color: #dc143c;
  color: white;
}

.navbar-brand {
  font-size: 25px;
  font-weight: bold;
}

/******* MODAL CONTAINER ********/

.modal-content {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  margin-top: 10%;
  width: 100%;
  max-width: 700px;
  text-align: center;
  overflow: hidden;
  background-image: url('../img/pattern.png');
  background-repeat: repeat;
}

.modal-header {
  display: flex;
  text-align: center;
  justify-content: center;
}

.modal-header h5 {
  color: Black;
  font-size: 40px;
}

.modal-header > h5:first-letter {
  text-transform: uppercase;
}

.btn-secondary {
  background-color: #28A745;
}
